.all-spells {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  background-color: #839898;
}

.all-saved-spells {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  background-color: #839898; 
  background-image:url('https://images.unsplash.com/photo-1551269901-5c5e14c25df7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.spells-container {
    background-color: #839898;
    height: 20em;
  }

  .browse-input-container {
    background-color: #839898;
  }

.search-button:hover:enabled, .view-all-button:hover, .exit-practice:hover {
  box-shadow: 3px 3px 5px black;
  cursor: pointer;
  background-color: #E0F8F8;
}

.browse-input-container {
  display: flex;
  justify-content: center;
}

.browse-spells-input {
  margin-top: 2.2em;
  margin-left: 1em;
  width: 15em;
}

.search-button, .view-all-button {
  width: 6em;
  height: 1.7em;
  margin-top: 2.1em;
  box-shadow: 2px 2px 2px black;
  border-radius: 20%;
  margin-right: 1em;
}

.exit-practice {
  width: 6em;
  height: 3em;
  margin-top: 2.1em;
  box-shadow: 2px 2px 2px black;
  border-radius: 20%;
  margin-right: 1em;  
}

.spells-message, .error {
  text-align: center;
  margin-top: 0;
  margin-bottom: 1em;
}

.spell-name {
  font-size: 1.2em;
}

.practice-card {
  background-color: white;
  border-radius: 6%;
  background-color: #AFECDC;
  border: solid;
  z-index: 1;
  text-align: center;
  position: fixed;
    top: 25em;
    left: 30em;
    width: 30%;
    height: 40%;
}

@media only screen and (max-width: 470px) {
  .all-spells, .all-saved-spells {
    display: grid;
    grid-template-columns: 1fr;
  } 

  .browse-input-container {
    display: grid;
    grid-template-rows: repeat(3, 3em);
    text-align: center;
  }

  .view-all-button, .search-button {
    height: 3em;
    grid-row-start: 3;
    margin: 0;
    margin-left: 5em;
  }

  .practice-card {
    left: 7em;
    width: 10em;
  }
}

@media only screen and (min-width: 470px) and (max-width: 780px) {
  .all-spells, .all-saved-spells {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .practice-card {
    left: 12em;
  }
}  

@media only screen and (min-width: 780px) and (max-width: 1120px) {
  .all-spells, .all-saved-spells {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .practice-card {
    left: 20em;
  }
}  

@media only screen and (min-width: 1120px) and (max-width: 1340px) {
  .all-spells, .all-saved-spells {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .practice-card {
    left: 25em;
  }
} 